{
  "presets": [
    ["env", {
      "targets": {
        "node": "current",
        "uglify": true
      }
    }],
    "react",
    "react-hmre",
    "flow"
  ],
  "compact": true,
  "plugins": [
    "babel-plugin-transform-class-properties",
    "react-hot-loader/babel"
  ]
}