@import url('https://fonts.googleapis.com/css?family=Roboto');

@import 'themeColors';
$theme-font: Roboto, Helvetica, sans-serif;
body {
  font: 100% $theme-font;
  background-color: $themeColor-Light;
  h1, h2 {
    color: $themeColor-Dark
  }
}
